---
---

body {
    font-family: 'Lora', sans-serif; // Using Roboto font
    margin: 0;
    padding: 0;
    background: #fff; // Uniform background color
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    line-height: 0.8cm;
    font-size: 20px;
}

.container {
    padding: 2em;
    margin: 2em auto;
    padding-top: 0;
    margin-top: 0;
    max-width: 800px;
    background: #fff; // Making the container background transparent
}

footer {
    text-align: center;
    padding: 1em;
    background: #f4f4f4; // Matching the background with the body
}

table {
  width: 100%; /* Adjust the width as needed */
  margin: auto; /* This centers the table */
  border-collapse: collapse; /* Optional: removes gaps between cells */
  font-family: Arial, sans-serif; /* Change font as needed */
}

th, td {
  border: 1px solid #ddd; /* Adds border to cells */
  padding: 8px; /* Adjust padding inside cells */
  text-align: left; /* Centers text in cells */
}

th {
  background-color: #f2f2f2; /* Background color for headers */
  color: black; /* Text color for headers */
}

tr:nth-child(even) {background-color: #f9f9f9;} /* Zebra striping for rows */

tr:hover {background-color: #ddd;} /* Hover effect for rows */

.story-header {
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        margin: 0; 
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); 
    }
}

#fallingDollars {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.dollar {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    
    background-image: url('images/dollars.png'); /* Path to your dollar bill image */
    background-size: cover;
    animation: fall linear infinite;
}

@keyframes fall {
    0% { top: -100px; }
    100% { top: 100vh; }
}


