---
---

body {
    font-family: 'Inconsolata', sans-serif; // Using Roboto font
    margin: 0;
    padding: 0;
    background: #fff; // Uniform background color
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    line-height: 0.7cm;
    font-size: 18px;
}

.container {
    padding: 2em;
    margin: 2em auto;
    max-width: 800px;
    background: #fff; // Making the container background transparent
}

footer {
    text-align: center;
    padding: 1em;
    background: #f4f4f4; // Matching the background with the body
}

.story-header {
    background: url('images/background.png') no-repeat center center;
    background-size: cover;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    h1 {
        margin: 0; 
        text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); 
    }
}

